Support RTR over TLS

### Description
RTR over TLS is supported by at least one rtr server, namely gortr.
TLS transport is also specified by the RFC as an optional secure transport.
### Useful links
- [gortr](https://github.com/cloudflare/gortr)
- [RFC8210 Section 9.2 TLS Transport](https://tools.ietf.org/html/rfc8210#section-9.2)

